<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styleCart.css" />
    <title>Cart</title>
  </head>
  <body>
    <div id="navigation">
      <div class="logo">
        <a href="/index"
          ><img src="images/OmarLogo.png" alt="" id="logo"
        /></a>
        <p id="intro">Welcome to the World of Sound</p>
      </div>

      <ul id="navbar">
              <li onclick="location.href='guitars';"><a>Guitars</a></li>
              <li onclick="location.href='bass';"><a>Bass</a></li>
              <li onclick="location.href='drums';"><a>Drums</a></li>
              <li onclick="location.href='keyboards';"><a>Keyboards</a></li>
              <li onclick="location.href='topDeals';"><a>Top Deals</a></li>
              <li id="cart_icon" onclick="cart()"><a><img src="white-24dp/1x/outline_shopping_cart_white_24dp.png" alt="An image"/></a></li>
              <li onclick="logout()"> <img src="images/logout.png" alt=""></li>
            </ul>
    </div>

    <form action="/cart" method="post">
        <input type="text" name="ID" id="ID" style="display: none;">
        <input type="submit" id="submit" value="submit" style="display: none;">
      </form>

    <h1>Shopping Cart</h1>
    <div class="grid-container" id="grid-container">
      <% var total = 0%>
      <%for (var i = 0; i < instruments.length; i++) {%>
          <div class="grid-item item<%i%>"><img class="modelimg" src=<%= instruments[i].image %>><div class="flag" id="flag" name="flag"><%= instruments[i].name %></div> <div class="flag"> $<%= instruments[i].price %></div> <span style="color:beige;">Quantity: <%= instruments[i].quantity %></span> <div class="quantityButtons"><button onclick="addQuantity(this, '<%= instruments[i].name %>')">+</button> <button onclick="subQuantity(this, '<%= instruments[i].name %>')">-</button></div> <img src="images/deleteicon.png" alt="An image" onclick="deleteItem(this, '<%= instruments[i].name %>')" class="deleteicons"/></div>
        <%total+= instruments[i].price * instruments[i].quantity}%>
      <span id="total" style="color: beige;" >TOTAL: $<%= total %></span>
    </div>
    <div class="checkout">
      <button id="checkout_button" onclick="checkout()">CHECKOUT</button>
    </div>

    <div id="footer">
      <ul>
        <h3>Categories</h3>
        <li><a href="guitars">Guitars</a></li>
        <li><a href="bass">Bass</a></li>
        <li><a href="drums">Drums</a></li>
        <li><a href="keyboards">Keyboards</a></li>
        <li><a href="topDeals">Top Deals</a></li>
      </ul>

      <ul>
        <h3>Contact us</h3>
        <li>
          <div>By phone:</div>
          <a href="tel:+">+96178927602</a>
        </li>
        <li>
          <div>By e-mail:</div>
          <a href="mailto:">omar.alrafei@lau.edu</a>
        </li>
      </ul>

      <ul id="social">
        <h3>Social Media</h3>
        <li>
          <a href="https://facebook.com/" target="_"
            ><img
              class="social"
              src="images/f_logo_RGB-White_1024.png"
              alt=""
            />/OmarsInstruments</a
          >
        </li>
        <li>
          <a href="https://instagram.com/" target="_"
            ><img
              class="social"
              src="images/instagram white.png"
              alt=""
            />/OmarsInstruments</a
          >
        </li>
        <li>
          <a href="https://twitter.com/" target="_"
            ><img
              class="social"
              src="images/2021 Twitter logo - white.png"
              alt=""
            />/OmarsInstruments</a
          >
        </li>
      </ul>
    </div>
    <script>
      user = JSON.parse(sessionStorage.getItem("currentUser"));
      //logout button in navigation and redirects to index
      function logout() {
        alert("logged out");
        sessionStorage.clear();
        window.location.href = "index";
      }
      //sets id in <form> to user.id
      function cart() {
        if (user) {//checks if user is signed in
          document.getElementById("ID").value = user.ID;
          document.getElementById("submit").click();
        } else {
          window.location.href = "signin";
        }
      }
      //calls /addQuantity from script.js
      function addQuantity(button, name) {
        fetch("/addQuantity", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8",
          },
          body: new URLSearchParams({
            name: name,
            ID: user.ID,
          }),
        })
          .then(function (response) {
            return response.text();
          })
          .then(function (data) {
            console.log(data);
            if (data == "success") {
              alert("item quantity incremented");
              window.location.reload();
            } else {
              alert("no more items in stock");
            }
          })
          .catch(function (err) {
            console.error(err);
          });
      }
      //calls /subQuantity from script.js
      function subQuantity(button, name) {
        fetch("/subQuantity", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8",
          },
          body: new URLSearchParams({
            name: name,
            ID: user.ID,
          }),
        })
          .then(function (response) {
            return response.text();
          })
          .then(function (data) {
            console.log(data);
            if (data == "success") {
              alert("item quantity decremented");
              window.location.reload();
            } else {
              alert("item not in stock");
            }
          })
          .catch(function (err) {
            console.error(err);
          });
      }
      //calls /deletefromcart from script.js
      function deleteItem(button, name) {
        fetch("/deletefromcart", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8",
          },
          body: new URLSearchParams({
            name: name,
            ID: user.ID,
          }),
        })
          .then(function (response) {
            return response.text();
          })
          .then(function (data) {
            console.log(data);
            if (data == "success") {
              button.parentNode.remove();
              alert("item deleted");
              window.location.reload();
            } else {
              alert("item not in stock");
            }
          })
          .catch(function (err) {
            console.error(err);
          });
      }
      //Calls /checkout from script.js
      function checkout() {
        fetch("/checkout", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8",
          },
          body: new URLSearchParams({
            ID: user.ID,
          }),
        })
          .then(function (response) {
            return response.text();
          })
          .then(function (data) {
            console.log(data);
            if (data == "success") {
              alert("purchase approved");
              window.location.reload();
            } else {
              alert("purchase denied");
            }
          })
          .catch(function (err) {
            console.error(err);
          });
      }
    </script>
  </body>
</html>