<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styleCart.css" />
    <title>Cart</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>

    <form action="/cart" method="post">
        <input type="text" name="ID" id="ID" style="display: none;">
        <input type="submit" id="submit" value="submit" style="display: none;">
      </form>

    <h1>Shopping Cart</h1>
    <div class="grid-container" id="grid-container">
      <% var total = 0%>
      <%for (var i = 0; i < instruments.length; i++) {%>
          <div class="grid-item item<%i%>"><img class="modelimg" src=<%= instruments[i].image %>><div class="flag" id="flag" name="flag"><%= instruments[i].name %></div> <div class="flag"> $<%= instruments[i].price %></div> <div name="quantity" id="quan" style="color:beige;">Quantity: <%= instruments[i].quantity %></div> <div class="quantityButtons"><button onclick="addQuantity(this, '<%= instruments[i].name %>', '<%= instruments[i].quantity %>')">+</button> <button onclick="subQuantity(this, '<%= instruments[i].name %>', '<%= instruments[i].quantity %>')">-</button></div> <img src="images/deleteicon.png" alt="An image" onclick="deleteItem(this, '<%= instruments[i].name %>')" class="deleteicons"/></div>
        <%total+= instruments[i].price * instruments[i].quantity}%>
      <span id="total" style="color: beige;" >TOTAL: $<%= total %></span>
    </div>
    <div class="checkout">
      <button id="checkout_button" onclick="checkout()">CHECKOUT</button>
    </div>

    <%- include('partials/footer.ejs') %>
    <script>
      var user = JSON.parse(sessionStorage.getItem("currentUser"));
      //logout button in navigation and redirects to index
      function logout() {
        alert("logged out");
        sessionStorage.clear();
        window.location.href = ('/signin');
      }
      //sets id in <form> to user.id
      function cart() {
        if (user) {//checks if user is signed in
          document.getElementById("ID").value = user.ID;
          document.getElementById("submit").click();
        } else {
          window.location.href = "signin";
        }
      }
      //calls /addQuantity from script.js
      function addQuantity(button, name, quantity) {
        fetch("/addQuantity", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8",
          },
          body: new URLSearchParams({
            name: name,
            ID: user.ID,
          }),
        })
          .then(function (response) {
            return response.text();
          })
          .then(function (data) {
            console.log(data);
            if (data == "success") {
              alert("item quantity incremented");
              window.location.reload();
            } else {
              alert("no more items in stock");
            }
          })
          .catch(function (err) {
            console.error(err);
          });
      }
      //calls /subQuantity from script.js
      function subQuantity(button, name, quantity) {
        fetch("/subQuantity", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8",
          },
          body: new URLSearchParams({
            name: name,
            ID: user.ID,
          }),
        })
          .then(function (response) {
            return response.text();
          })
          .then(function (data) {
            console.log(data);
            if (data == "success") {
              alert("item quantity decremented");
              window.location.reload();
            } else {
              alert("item not in stock");
            }
          })
          .catch(function (err) {
            console.error(err);
          });
      }
      //calls /deletefromcart from script.js
      function deleteItem(button, name) {
        fetch("/deletefromcart", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8",
          },
          body: new URLSearchParams({
            name: name,
            ID: user.ID,
          }),
        })
          .then(function (response) {
            return response.text();
          })
          .then(function (data) {
            console.log(data);
            if (data == "success") {
              button.parentNode.remove();
              alert("item deleted");
            } else {
              alert("item not in stock");
            }
          })
          .catch(function (err) {
            console.error(err);
          });
      }
      //Calls /checkout from script.js
      function checkout() {
        fetch("/checkout", {
          method: "POST",
          headers: {
            "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8",
          },
          body: new URLSearchParams({
            ID: user.ID,
          }),
        })
          .then(function (response) {
            return response.text();
          })
          .then(function (data) {
            console.log(data);
            if (data == "success") {
              alert("purchase approved");
              window.location.reload();
            } else {
              alert("purchase denied");
            }
          })
          .catch(function (err) {
            console.error(err);
          });
      }
    </script>
  </body>
</html>