<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
  </head>
  <body>
      <%- include('partials/header.ejs') %>


      <form action="/cart" method="post">
        <input type="text" name="ID" id="ID" style="display: none;">
        <input type="submit" id="submit" value="submit" style="display: none;">
      </form>


      <div id="bannerContainer">
        <p id="about">Our store offers a wide selection of high quality musical instruments covering the demands of every artist.</p>
        <img src="images/Electric_Guitar_Store.jpg" alt="" id="banner">
      </div>
      <div id="grid">
      <h1>Products in Stock</h1>
      <div class="grid-container">
        <a href="/guitars" class="grid-item item1">
          <img src=<%= obj[0].image %>>
          <div class="flag">Guitars</div>
        </a>
        <a href="/topDeals" class="grid-item item2">
          <img src="images/white.png" alt="">
          <div id="cycle">
            <img id="img1" src=<%= obj[0].image %> alt="">
            <img id="img2" src=<%= obj[1].image %> alt="">
            <img id="img3" src=<%= obj[2].image %> alt="">
          </div>
          <div class="flag">Top Deals</div>
        </a>
        <a href="/keyboards" class="grid-item item3">
          <img src=<%= obj[3].image %>>
          <div class="flag">Keyboards</div>
        </a>
        <a href="/drums" class="grid-item item4">
          <img src=<%= obj[2].image %>>
          <div class="flag">Drums</div>
        </a>
        <a href="/bass" class="grid-item item5">
          <img src=<%= obj[1].image %>>
          <div class="flag">Bass</div>
        </a>
    </div>
  </div>

    <%- include('partials/footer.ejs') %>

    <script>
       //logout button from navigation
      function logout() {
        alert("logged out");
        sessionStorage.clear();
        window.location.href = ('/signin');
      }
      //sets id in <form> to user.id
      function cart() {
        if (sessionStorage.getItem("currentUser")) {//checks if user is signed in
          console.log(sessionStorage.getItem("currentUser"));
          user = JSON.parse(sessionStorage.getItem("currentUser"));
          document.getElementById("ID").value = user.ID;
          document.getElementById("submit").click();
        } else {
          window.location.href = "signin";
        }
      }
    </script>

  </body>
  </html>
