<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styleInstruments.css">
    <title><%type%></title>
  </head>
  <body>
     <%- include('partials/header.ejs') %>

      <form action="/cart" method="post">
        <input type="text" name="ID" id="ID" style="display: none;">
        <input type="submit" id="submit" value="submit" style="display: none;">
      </form>

      <h1><%=type%>:</h1>
      <div class="grid-container">
        <%for (var i = 0; i < obj.length; i++) {%>
        <% if(obj[i].stock > 0) { %>
        <div class="grid-item item<%i%>"><img src=<%= obj[i].image %>><div class="flag" id="flag" name="flag"><%= obj[i].name %> $<%= obj[i].price %></div> <button id="add" class="add" onclick="Add('<%= obj[i].name %>')">Add</button> </div>
        <% } else { %>
          <div class="grid-item item<%i%>"><img src=<%= obj[i].imageout %>><div class="flag" id="flag" name="flag"><%= obj[i].name %> $<%= obj[i].price %></div> <button id="add" class="add" onclick="Add('<%= obj[i].name %>')">Add</button> </div>
          <%}}%>
    </div>
    <%- include('partials/footer.ejs') %>
        
        <script>
          //logout button from navigation
        function logout() {
          alert("logged out");
          sessionStorage.clear();
          window.location.href = ('/signin');
        }
        //sets id in <form> to user.id
        function cart() {
          if (sessionStorage.getItem("currentUser")) {//checks if user is signed in
            user = JSON.parse(sessionStorage.getItem("currentUser"));
            document.getElementById("ID").value = user.ID;
            document.getElementById("submit").click();
          } else {
            window.location.href = "signin";
          }
        }
        //calls /addtocart from script.js
        function Add(name) {
          user = JSON.parse(sessionStorage.getItem("currentUser"));

          if (user) {//checks if user is signed in
            fetch("/addtocart", {
              method: "POST",
              headers: {
                "Content-Type":
                  "application/x-www-form-urlencoded; charset=UTF-8",
              },
              body: new URLSearchParams({
                name: name,
                ID: user.ID,
              }),
            })
              .then(function (response) {
                return response.text();
              })
              .then(function (data) {
                console.log(data);
                if (data == "success") {
                  alert("item added to cart");
                  window.location.reload();
                } else {
                  alert("item not in stock");
                }
              })
              .catch(function (err) {
                console.error(err);
              });
          } else {
            window.location.href = "signin";
          }
        }
        </script>
      </div>
    </body>
</html>